.navbar {
    background-color: #D4EFDF;
}
.quem-somos {
    background-color: #D6EAF8;
    color: black;
}
.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}
.parceiros {
    background-color: #7B241C;
    color: white;
}
.bg-footer {
    background-color: black;
    color: white;
}